<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Whats App</title>
        <link rel="icon" href="favicon/favicon-16x16.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css">

        <script src="https://kit.fontawesome.com/efa78a0868.js" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <main id="root">

            <div class="foreground">

                <!-- left section -->
                <div class="contacts">
                    <div class="status">
                        <div class="buble-container">
                            <div class="buble" :style="{ 'background-image': 'url(' + user[0].avatar  + ')' }"></div>
                            <h4 :class>{{ user[0].name}} </h4>
                        </div>
                        <div class="nav">
                            <span class="fas fa-circle-notch"></span>
                            <span class="fas fa-comment-alt"></span>
                            <span class="fas fa-ellipsis-v"></span>
                        </div>
                    </div>

                    <div class="notifications">
                        <div class="section">
                            <div class="buble-container">
                                <div class="buble">
                                    <span class="fas fa-bell-slash"></span>
                                </div>
                                <div>
                                    <h4>Receive new message notifications</h4>
                                    <h5>Active Desktop notification<span class="fas fa-angle-right"></span></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="finder" ref="finder-section" :class="checkInputFocus =='active' ? 'active' : 'null'">
                        <input type="text" placeholder="Find or start a new chat.." v-model="inputFilter" @focusin="inputAnimation()" @focusout="inputAnimation()"  @keyup="newFilterContacts(), listGen()">
                        <span class="fas fa-arrow-left"></span>
                    </div>

                    <div class="chat">
                        <div v-for="(contact, i) in variableContainer" class="section" @click="conversation(i)">
                            <div class="buble-container">
                                <div class="buble" :style="{ 'background-image': 'url(' + contact.avatar  + ')' }"></div>
                                <div>
                                    <h4>{{ contact.name }}</h4>
                                    <h5 v-html="contact.messages[contact.messages.length - 1].message">{{ contact.messages[contact.messages.length - 1].message }}</h5>
                                </div>
                            </div>
                            <span>{{ contact.messages[contact.messages.length - 1].time }}</span>
                        </div>
                    </div>
                </div>

                <!-- right section -->
                <div class="messages">
                    <div class="top">
                        <div class="status">
                            <div class="buble-container">
                                <div class="buble" :style="{ 'background-image': 'url(' + contacts[indexConv].avatar  + ')' }"></div>
                                <div>
                                    <h4 :class>{{ contacts[indexConv].name }} </h4>
                                    <span id="status">active now</span>
                                </div>
                            </div>
                            <div class="nav">
                                <span class="fas fa-search"></span>
                                <span class="fas fa-ellipsis-v"></span>
                            </div>
                        </div>
                    </div>

                    <div id="chat-section" ref="chat-section" class="center" @scroll="scrollFunction()">
                        <div class="conv-container" v-for="(conv, i) in contacts[indexConv].messages">
                            <div :class="conv.status == 'sent' ? 'user' : 'friend'">
                                <p v-html="conv.message">{{ conv.message }}</p>
                                <div class="message-status">
                                    <span>{{ conv.time }}</span>
                                    <svg v-if="conv.status == 'sent'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path>
                                    </svg>
                                </div>

                                <div class="dropdown" :class="check == i ? dropToggle : 'null'" @click="toggleDropMenu(i)">
                                    <span class="fas fa-chevron-down"></span>

                                    <ul class="dropdown-menu" :class="check == i ? dropToggle : 'null'">
                                        <li>Reply</li>
                                        <li>Forward message</li>
                                        <li>Important message</li>
                                        <li @click="deleteMessage(i)">Delete message</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div @click="scrollTotoBottom()" id="scroll-button" ref="scroll-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 20" width="19" height="20"><path fill="currentColor" d="M3.8 6.7l5.7 5.7 5.7-5.7 1.6 1.6-7.3 7.2-7.3-7.2 1.6-1.6z"></path></svg>
                        </div>
                    </div>

                    <div class="bottom">
                        <span class="far fa-smile"></span>
                        <span class="fas fa-paperclip"></span>
                        <input type="text" placeholder="Write a new message.." v-model="userNewMessage"  @keyup.enter="userNewConv(indexConv)" @focusin="dinamicSwitch()" @focusout="dinamicSwitch()">
                        <span :class=" command " ref="email"></span>
                    </div>
                </div>

                <div class="alert-container" :class="alertDelMessage == 'active' ? 'active' : 'null'">
                    <div class="alert-message-delete">
                        <p>Delete message?</p>
                        <div class="buttons-container">
                            <button @click="alertDelMessage = 'null'">Discard</button>
                            <button @click="completeDeMess()">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
