<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Whats App</title>
        <link rel="icon" href="favicon/favicon-16x16.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css">

        <script src="https://kit.fontawesome.com/efa78a0868.js" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <main id="root">

            <div class="foreground">

                <div class="contacts">
                    <div class="status">
                        <div class="buble" :style="{ 'background-image': 'url(' + user[0].avatar  + ')' }"></div>
                        <div class="nav">
                            <span class="fas fa-circle-notch"></span>
                            <span class="fas fa-comment-alt"></span>
                            <span class="fas fa-ellipsis-v"></span>
                        </div>
                    </div>

                    <div class="notifications">
                        <div class="section">
                            <div class="buble-container">
                                <div class="buble">
                                    <span class="fas fa-bell-slash"></span>
                                </div>
                                <div>
                                    <h4>Receive new message notifications</h4>
                                    <h5>Active Desktop notification<span class="fas fa-angle-right"></span></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="finder">
                        <input type="text" placeholder="Find or start a new chat..">
                        <span class="fas fa-arrow-left"></span>
                    </div>
                    <div class="chat">

                        <div v-for="(contact, i) in contacts" class="section" @click="conversation(i)">
                            <div class="buble-container">
                                <div class="buble" :style="{ 'background-image': 'url(' + contacts[i].avatar  + ')' }"></div>
                                <div>
                                    <h4>{{ contact.name }}</h4>
                                    <h5 :class="lastMessage(i)">{{ contact.messages[lastMessageIndex].message }}</h5>
                                </div>
                            </div>
                            <span>{{ contact.messages[lastMessageIndex].time }}</span>
                        </div>

                    </div>
                </div>

                <div class="messages">
                    <div class="top">
                        <div class="status">
                            <div class="buble" :style="{ 'background-image': 'url(' + contacts[indexConv].avatar  + ')' }"></div>
                            <div class="nav">
                                <span class="fas fa-search"></span>
                                <span class="fas fa-ellipsis-v"></span>
                            </div>
                        </div>
                    </div>

                    <div class="center">

                        <div class="conv-container" v-for="conv in contacts[indexConv].messages">
                            <div :class="conv.status == 'sent' ? 'user' : 'friend'">
                                <p>{{ conv.message }}</p>
                                <span>{{ conv.time }}</span>
                            </div>
                        </div>

                    </div>

                    <div class="bottom">
                        <span class="far fa-smile"></span>
                        <span class="fas fa-paperclip"></span>
                        <input type="text" placeholder="Write a new message.." v-model="userNewMessage" @focusin="dinamicSwitch" @keypress.enter="userNewConv(indexConv)" id="test">
                        <span id="test"class="fas fa-microphone"></span>
                    </div>
                </div>

            </div>
        </main>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
