* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Segoe', sans-serif;
    src: url('fonts/Segoe UI.woff');
}

main {
    background-color: #d2d4c9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe;
}

.background-top {
    height: 15%;
    width: 100%;
    background-color: #358675;
    position: fixed;
    top: 0;
    left: 0;
}

.foreground {
    width: 77%;
    height: 95%;
    background-color: #ffffff;
    z-index: 1;
}

.contacts, .messages {
    float: left;
    height: 100%;
}

.contacts {
    width: 35%;
}

.messages {
    width: 65%;
}

.status, .notification, .finder, .top, .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat {
    overflow-y:scroll;
}

.status {
    height: 80px;
    background-color: #eaeaea;
    border-right: 1px solid grey;
    padding: 0 10px;
}

.nav span {
    font-size: 18px;
    color: #b2b2b2;
    margin: 0 5px;
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    width: 100%;
}

.chat .section:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.buble-container {
    display: flex;
    align-items: center;
}

.buble {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgrey;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    height: 90px;
}

.notification .fa-times {
    align-self: flex-start;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.notification h4 {
    font-weight: bold;
    color: #1b1b1b;
}

.notification h5 {
    color: #b2b2b2;
    font-weight: 600;
    text-decoration: underline;
}

.fa-bell-slash {
    font-size: 24px;
    line-height: 70px;
}

.finder {
    height: 60px;
    background-color: #f6f6f6;
    padding: 10px 10px;
}

.finder input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid lightgrey;
    background-image: url('https://webstockreview.net/images/search-icon-png-4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5px 0;
    font-size: 14px;
    padding-left: 45px;
}

.finder input:focus {
    outline: none;
}

.chat {
    height: calc(100% - 230px);
}

.top {
    height: 80px;
    background-color: #eaeaea;
}

.center {
    padding: 20px;
}

.center .user, .center .friend {
    max-width: 40%;
    padding: 10px;
    border-radius: 8px;
    clear: both;
    position: relative;
}

.center .user {
    background-color: #e1f7ca;
    float: right;
}

.center .friend {
    background-color: white;
    float: left;
}

.user::before, .friend::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
}

.user::before {
    top: -10px;
    right: -8px;
    background: linear-gradient(45deg, rgba(225,247,202,1) 50%, rgba(69,10,245,0) 50%);
    transform: rotate(-45deg);
}

.friend::before {
    top: -10px;
    left: -8px;
    background: linear-gradient(45deg, rgba(255,255,255,1) 50%, rgba(69,10,245,0) 50%);
    transform: rotate(-45deg);
}

.bottom {
    height: 80px;
    background-color: #eaeaea;
    padding: 15px 25px;;
}

.bottom span {
    color: #b2b2b2;
    font-size: 22px;
    cursor: pointer;
}

.bottom input {
    width: 80%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 80px;
    padding-left: 20px;
    font-size: 14px;
}

.bottom input:focus {
    outline: none;
}

.bottom input::placeholder {
}

.center {
    height: calc(100% - 160px);
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-size: contain;
}
