* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Segoe UI Regular', sans-serif;
    src: url('fonts/Segoe UI Regular.ttf');
}

/* scrollbars */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}

main {
    background: linear-gradient(180deg, rgba(53,134,117,1) 15%, rgba(210,212,201,1) 15%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI Regular', sans-serif;
}

h4 {
    color: #000000;
    font-size: 17px;
    font-weight: 800;
    font-weight: lighter;
}

h5 {
    color: #6a6a6a;
    font-size: 14px;
    font-weight: lighter;
}

input::placeholder {
    color: darkgrey;
}

input::placeholder {
  transition: color .3s ease;
}

input:focus::placeholder {
  color: transparent;
}

.foreground {
    width: 77%;
    height: 95%;
    background-color: #ffffff;
}

.contacts, .messages {
    float: left;
    height: 100%;
}

.contacts {
    width: 30%;
    position: relative;
}

.messages {
    width: 70%;
}

.fa-circle-notch {
    position: relative;
}

.fa-circle-notch::after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #15c39a;
    top: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status, .notifications, .finder, .top, .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat {
    overflow-y:scroll;
}

.status {
    height: 80px;
    background-color: #eaeaea;
    padding: 0 10px;
}

.status:last-child {
    border-left: 1px solid #c8c8c8;
}

.status .buble, .chat .buble {
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.nav span {
    font-size: 18px;
    color: #b2b2b2;
    margin: 0 15px;
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 10px;
    width: 100%;
}

.chat .section span {
    font-size: 12px;
    color: #8f8f8f
}

.chat .section:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.chat h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}

.buble-container {
    display: flex;
    align-items: center;
}

.buble {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightgrey;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications {
    height: 90px;
    background-color: #9de1fe;
}

.notifications .buble {
    background-color: white;
}

.notifications h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

.notifications .fa-angle-right {
    vertical-align: bottom;
    font-size: 16px;
    margin-left: 3px;
}

.fa-bell-slash {
    font-size: 24px;
    line-height: 70px;
    color: #9de1fe;
}

.finder {
    height: 60px;
    background-color: #f6f6f6;
    padding: 10px 10px;
    position: relative;
}

.finder input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-image: url('https://webstockreview.net/images/search-icon-png-4.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 8px;
    font-size: 14px;
    padding-left: 45px;
    transition: all .3s ease;
}

.finder input:focus {
    outline: none;
    background-image: none;
}

.fa-arrow-left {
    position: absolute;
    left: 35px;
    top: 50%;
    opacity: 0;
    font-size: 20px;
    color: #9de1fe;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease;
    cursor: pointer;
}

.finder input:focus ~ .fa-arrow-left {
    opacity: 1;
}

.chat {
    height: calc(100% - 230px);
}

.chat .section {
    cursor: pointer;
}

.chat .section:hover {
    background-color: #ebebeb;
}

.top {
    height: 80px;
    background-color: #eaeaea;
}

.center {
    padding: 20px;
    overflow-y: scroll;
}

.center .user, .center .friend {
    max-width: 40%;
    padding: 10px;
    border-radius: 8px;
    clear: both;
    position: relative;
    box-shadow: 0 1px .5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.center .user span, .center .friend span {
    align-self: flex-end;
    font-size: 12px;
    color: #8F8F8F;
}

.center .user {
    background-color: #e1f7ca;
    float: right;
}

.center .friend {
    background-color: white;
    float: left;
    margin-bottom: 10px;
}

.user::before, .friend::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
}

.user::before {
    top: -10px;
    right: -8px;
    background: linear-gradient(45deg, rgba(225,247,202,1) 50%, rgba(69,10,245,0) 50%);
    transform: rotate(-45deg);
}

.friend::before {
    top: -10px;
    left: -8px;
    background: linear-gradient(45deg, rgba(255,255,255,1) 50%, rgba(69,10,245,0) 50%);
    transform: rotate(-45deg);
}

.bottom {
    height: 65px;
    background-color: #eaeaea;
    padding: 10px 25px;;
}

.bottom span {
    color: #b2b2b2;
    font-size: 22px;
    cursor: pointer;
}

.bottom input {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 80px;
    padding-left: 20px;
    font-size: 14px;
}

.bottom input:focus {
    outline: none;
}

.bottom input::placeholder {
}

.center {
    height: calc(100% - 145px);
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-size: contain;
}
